<!DOCTYPE html>
<html>

<head>
  <title>Flasky测试</title>
  <meta charset="utf-8">
  <meta name="author" content="liukai234">
  <meta http-equiv="refresh" content="30">
</head>

<body style="margin: 0px; font-size: 100%;">
      <h1 style="color: white; background-color: #3498db; text-align: center; margin: 0px; padding-top: 20px; padding-bottom: 20px;">
        Create by Flasky </h1>
      <hr style="margin: 0px;">
      <div style="margin-left: 20px; margin-right: 20px">
        <p style="color:#2c3e50;font-size:20px;">404 Page Not Found</p>
      </div>
      <div style="margin-left: 20px; margin-right: 20px">
        <p style="color:#2c3e50;font-size:20px;">The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>
      </div>
</body>

</html>
