<!DOCTYPE html>
<html>

<head>
  <title>Flasky测试</title>
  <meta charset="utf-8">
  <meta name="author" content="liukai234">
  <meta http-equiv="refresh" content="30">
</head>

<body style="margin: 0px; font-size: 100%">
      <h1 style="background-color: #3498db; text-align: center; margin: 0px; padding-top: 20px; padding-bottom: 20px;">
        Create by Flasky </h1>
      <hr style="margin: 0px;">
      <div style="margin-left: 20px; margin-right: 20px">
        <p style="color:#2c3e50;font-size:20px;">当前页面路由/user/{{ name }}/</p>
      </div>
      <div style="margin-left: 20px; margin-right: 20px">
        <p style="color:#2c3e50;font-size:20px;">Hello, {{name}}!</p>
      </div>
</body>

</html>

<!--Jinja2能识别所有类型的变量，甚至是一些复杂的类型，录入列表字典和对象-->
<!--即使{\{ . }\}已被html注释 注释掉，仍会识别，所以对于注释内容要打乱{\{ . }\}格式-->
<!-- <p>A value from a dictionary:{\{ mydict['key'] }\}</p>
<p>A value from a list:{\{ mylist[3] }\}</p>
<p>A value from a list, with a variable index:{\{ mylist[myintvar] }\}</p>
<p>A value from an object's method:{\{ myobj.somemethod() }\}</p> -->

<!--变量的值可以用过滤器修改-->
<!-- <h1>Hello {\{ name|capitalize }\}!</h1> -->

<!--常用过滤器-->
<!-- safe capitalize lower upper title trim striptags -->
